.skillContainer{
    padding: 50px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit,200px);
    width: 100%;
    margin: auto;
    gap: 2px;
    justify-content: center;
}

.skill{
    background-color:rgba(255, 255, 255, 0.2);
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    transition: 250ms;
}

.skill:hover{
    background-color:rgba(255, 255, 255, 1);
    color: black;
}
.skill h3 {
    text-align: center;
}
.skill img{
    max-width: 150px;
    max-height: 150px;
}

